@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2"),
    url("../fonts/montserrat-v14-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"),
    url("../fonts/montserrat-v14-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"),
    url("../fonts/roboto-v20-latin-300.woff2") format("woff2"),
    url("../fonts/roboto-v20-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"),
    url("../fonts/roboto-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --font: "Roboto";
  --color: #333;
  --second-color: #666;
  --third-color: #ff4e50;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  text-align: center;
}

.navigation-list {
  display: flex;
  justify-content: center;
}

.banner {
  background-color: #1a1915;
  background-image: url(../images/mobile-banner.png);
  background-size: cover;
  min-height: 540px;
  padding: 20px 0 140px;
}

.banner button {
  font-weight: 700;
  line-height: 16px;
  color: #fff;
  border: none;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0);
  padding: 12px;
  cursor: pointer;
  outline: none;
}

.navigation button:hover {
  border: 2px solid #fff;
  border-radius: 20px;
}

.logo {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #fff;
  display: block;
  margin: 106px 0 30px;
}

.banner h1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 10px;
}

.banner p {
  font-family: var(--font);
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  color: #fff;
  margin: 0 0 18px;
}

.banner span {
  display: block;
}
.banner .find-partner {
  background-color: var(--third-color);
  border-radius: 20px;
}

.partners {
  padding: 72px 0 56px;
}

.partners h2,
ul,
h3,
p {
  margin: 0;
  padding: 0;
}

.partner-list {
  max-width: 240px;
  margin: 0 auto;
}

.partners h2 {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  color: var(--color);
  margin-bottom: 20px;
}

.partner-list-image {
  margin: 0 auto;
  position: relative;
  width: 121px;
  height: 121px;
}

.icon::after {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  bottom: 0;
  border: solid 4px rgb(255, 255, 255);
  border-radius: 50%;
}

.tv-icon::after {
  background-image: url(../images/1st-icon.png);
  background-color: var(--third-color);
}

.science-icon::after {
  background-image: url(../images/2nd-icon.png);
  background-color: rgb(255, 165, 7);
}

.cup-icon::after {
  background-image: url(../images/3rd-icon.png);
  background-color: rgb(28, 215, 173);
}

.message-icon::after {
  background-image: url(../images/4th-icon.png);
  background-color: rgb(78, 115, 219);
}

.partner-list-item h3 {
  margin: 22px 0 20px;
  font-weight: 700;
  line-height: 16px;
  color: var(--color);
}

.partner-list-item p {
  /* margin-bottom: 30px; */
  font-weight: 300;
  line-height: 16px;
  color: var(--second-color);
}

.load-more {
  font-weight: 700;
  line-height: 16px;
  color: var(--third-color);
  border: 2px solid var(--third-color);
  border-radius: 20px;
  background-color: transparent;
  cursor: pointer;
  padding: 10px 74px;
  outline: none;
  margin-top: 30px;
}

@media (max-width: 767px) {
  .partner-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 660px;
  }

  .banner {
    padding: 38px 0 234px;
    background-image: url(../images/tablet-banner.png);
  }

  .navigation {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 auto;
  }

  .logo {
    margin: 0;
  }

  .banner h1 {
    margin: 150px auto 50px;
    font-size: 52px;
    line-height: 62px;
    max-width: 512px;
  }

  .banner p {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 36px;
  }

  .banner span {
    display: inline;
  }

  .partners {
    padding-bottom: 40px;
  }

  .partner-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 492px;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  .partner-list-item {
    max-width: 236px;
  }

  .partner-list-item:nth-child(2) {
    order: 1;
  }
  .partner-list-item:last-child {
    order: 2;
  }

  .partners h2 {
    margin-bottom: 32px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .partner-list-item:not(:nth-child(2n)) {
    margin-bottom: 60px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 940px;
  }

  .banner {
    background-image: url(../images/desktop-banner.png);
  }

  .partners {
    padding-bottom: 72px;
  }

  .partner-list {
    max-width: 940px;
  }

  .partner-list-item {
    max-width: 222px;
  }
}
